# Ignore MongoDB data
mongo_data/

# Node / builds
node_modules/
dist/
build/

# Environment & logs
.env
.env.local
.env.production
*.log

# IDE / système
.vscode/
.idea/
.DS_Store
Thumbs.db
mongo_data/
node_modules/
dist/
.env
.vscode/
.idea/
*.log
