version: "3.9"
services:
  backend:
    build: ./backend
    container_name: marhaban_backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - marhaban_net

  frontend:
    build: ./frontend
    container_name: marhaban_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - marhaban_net

  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend
    networks:
      - marhaban_net

networks:
  marhaban_net:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
